
<!DOCTYPE html>
<html>
    <head>
        <title>About Us Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">\
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <link href="css/AboutUS.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
   <div>
      <div class="container-fluid bg" >
  <div class="page-header">  
      <h1 style="text-align: center; color: black"><b>STREET CHAT CAFE</b></h1> 
      <h4 style="text-align: center; color:black; font-family: verdana"><i>Good Food,Good Mood..</i></h4>
  </div>         
 
  <div>
    <nav class="navbar navbar-inverse navbar-fixed" style="color: #FAF7F7">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-family: Comic Sans MS">STREET CHAT CAFE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact US</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/menu">Menu Card</a></li>
    </ul>
  </div>
</nav>
  </div>     
 <div>
   <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8000" style="width:70%; margin: auto; height:460px">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/about1.jpg" style="width:100%">
    </div>

    <div class="item">
      <img src="images/about3.jpg" alt="New York" style="width:100%">
    </div>
       <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  </div>
</div>          
 </div>
          <br>
          <hr class="style1">
    <h2 style="text-align: center; color: black; font-family: Segoe Script; color:white"><b>WELCOME TO OUR RESTAURANT</b></h2> 
    <hr class="style2">
    
    <div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3 style="color: white"><u><b>OUR STORY</b></u></h3>
      <p style="text-align: justify; font-family:Arial Black; color:white">It all started with an idea of fulfilling the hunger of food lover customers since Janaury 2018.From than till now our restaurant is on an urge of progress.Chinese cuisine have become one of the most loved dishes of our customers.We try to satisfy our customers with our hospitality and mouth watering food to keep them happy and fresh.Walking in and moving out with nothing but memories of good time</p>
    </div>
    <div class="col-md-6 left" >
        <img src="images/name.jpg" alt="ourstory"/>
        
   
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-6 " >
          <img src="images/food.jpg" alt="food"/>
      
    </div>
    <div class="col-md-6">
        <h3 style="color:white"><b><u>BEAUTIFUL DISHES</u></b></h3>
      <p style="text-align: justify; font-family:Arial Black; color:white">Your Hunger, our food makes a tasty combination. with your increasing hunger we are coming up with our new dishes everyday with a new experience with you. Our dishes will never let you return with an empty stomach.Our chefs work together to provide us with tasty,well-balanced meals.A wide range of choices ensures that even picky eaters will find something to eat.Good Food,great service and an awe-inspiring ambience of restaurant are the ingredients to the receipe of a perfect restaurant.</p> 
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3 style="color:white"><b><u>LOVELY ATMOSPHERE</u></b></h3>
      <p style="text-align: justify; font-family:Arial Black; color:white"> Chill your mood with our mind refreshing ambience. We serve family style and campus seating for groups at each meal</p>
  
      </p>
    </div>
    <div class="col-md-6">
        <img src="images/AMBIENCE.jpg" alt="ambience"/>
    </div>
  </div>
    <div>
      <!-- Footer -->
<footer class="page-footer font-small unique-color-dark"  style="margin-top: 20px; background-color:black; color:white;">

    <div style="background-color: black;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">


          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">STREET CHAT CAFE</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Street Chat Cafe is a restaurant chain in the beautiful city of Pune.
             We provide hundreds of options of mouth watering dishes to fulfill your hunger and satisfy the food lover within you.</p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">SUPPORT US</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">FACEBOOK</a>
          </p>
          <p>
            <a href="#!">INSTAGRAM</a>
          </p>
          <p>
            <a href="#!">TWITTER</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Pune Bangalore Highway,
                                            Opp Balewadi Stadium,
                                            Near Mitcon College,
                                            Balewadi,
                                            Pune-411045.</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> streetchatcafe@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>Contact No: 9167914392</p>

        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">OWNER</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>SATYAWAN BANDEKAAR</p>
          <p>
                        <a href="Admin.jsp">ADMIN</a>
          <span class="glyphicon glyphicon-user"></span>
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> streetchatcafe.com</a>
    </div>
    <!-- Copyright -->

  </footer>         
</div>
          

</div>
    
 </div>    
    
</html>
