<!DOCTYPE html>
<html>
  <head>
    <title>Card Payment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      http-equiv="Content-Security-Policy: default-src 'self'; frame-ancestors 'none'; style-src 'self' 'unsafe-inline'; script-src 'self'; img-src 'self'
    "
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/card.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
      <div class="container-fluid bg">
        <div class="page-header">
          <h1 style="text-align: center; color: white">
            <b>STREET CHAT CAFE</b>
          </h1>
          <h4 style="text-align: center; color:white; font-family: verdana">
            <i>Good Food,Good Mood..</i>
          </h4>
        </div>

        <div>
          <nav
            class="navbar navbar-inverse navbar-fixed"
            style="color: #FAF7F7"
          >
            <div class="container-fluid">
              <div class="navbar-header">
                <a
                  class="navbar-brand"
                  href="#"
                  style="font-family: Comic Sans MS"
                  >STREET CHAT CAFE</a
                >
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact US</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/menu">Menu Card</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
