<!DOCTYPE html>

<html>
  <head>
    <title>About Us Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    \
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/ContactUs.css" rel="stylesheet" type="text/css" />
    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="container-fluid bg">
        <div class="page-header">
          <h1 style="text-align: center; color: black">
            <b>STREET CHAT CAFE</b>
          </h1>
          <h4 style="text-align: center; color:black; font-family: verdana">
            <i>Good Food,Good Mood..</i>
          </h4>
        </div>

        <div>
          <nav
            class="navbar navbar-inverse navbar-fixed"
            style="color: #FAF7F7"
          >
            <div class="container-fluid">
              <div class="navbar-header">
                <a
                  class="navbar-brand"
                  href="#"
                  style="font-family: Comic Sans MS"
                  >STREET CHAT CAFE</a
                >
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li class="active"><a href="/contact">Contact US</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/menu">Menu Card</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6" style="color:white">
              <h3><b>CONTACT US</b></h3>
              <br />
              <h3 style="font-family: Gadugi">SATYWAN BANDEKAR</h3>
              <br />
              <h4>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"
                  ><b> 9167914392</b></span
                >
              </h4>
              <br />
              <h3 style="color: Gadugi">Pune Bangalore Highway,</h3>
              <h3>Opp Balewadi Stadium,</h3>
              <h3>Near Mitcon College,</h3>
              <h3>Balewadi</h3>
              <h3>Pune-411045.</h3>
              <br />
              <a href="#"><h3>streetchatcafe@gmail.com</h3></a>
            </div>
            <div class="col-md-6">
              <!--Google map-->
              <div
                id="map-container-google-2"
                class="z-depth-1-half map-container"
                style="height: 500px"
              >
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2081.087112259662!2d73.76290233030424!3d18.57601596634156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b94ee8bdc4d7%3A0xa16c0ac1e8fe77dc!2sBalewadi+Chowpatty!5e0!3m2!1sen!2sin!4v1553244875727"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border:0"
                  allowfullscreen
                ></iframe>
              </div>

              <!--Google Maps-->
            </div>
          </div>
        </div>
        <div>
          <!-- Footer -->
          <footer
            class="page-footer font-small unique-color-dark"
            style="margin-top: 20px; background-color:black; color:white;"
          >
            <div style="background-color: black;">
              <div class="container">
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!-- Facebook -->
                    <a class="fb-ic">
                      <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                      <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                      <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                      <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                      <i class="fab fa-instagram white-text"> </i>
                    </a>
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row-->
              </div>
            </div>

            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase font-weight-bold">
                    STREET CHAT CAFE
                  </h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p>
                    Street Chat Cafe is a restaurant chain in the beautiful city
                    of Pune. We provide hundreds of options of mouth watering
                    dishes to fulfill your hunger and satisfy the food lover
                    within you.
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">SUPPORT US</h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p>
                    <a href="#!">FACEBOOK</a>
                  </p>
                  <p>
                    <a href="#!">INSTAGRAM</a>
                  </p>
                  <p>
                    <a href="#!">TWITTER</a>
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">Contact</h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p>
                    <i class="fas fa-home mr-3"></i>Pune Bangalore Highway, Opp
                    Balewadi Stadium, Near Mitcon College, Balewadi,
                    Pune-411045.
                  </p>
                  <p>
                    <i class="fas fa-envelope mr-3"></i>
                    streetchatcafe@gmail.com
                  </p>
                  <p><i class="fas fa-phone mr-3"></i>Contact No: 9167914392</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">OWNER</h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p><i class="fas fa-home mr-3"></i>SATYAWAN BANDEKAAR</p>
                  <p>
                    <a href="Admin.jsp">ADMIN</a>
                    <span class="glyphicon glyphicon-user"></span>
                  </p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
              © 2019 copyright:
              <a href="https://mdbootstrap.com/education/bootstrap/">
                streetchatcafe.com</a
              >
            </div>
            <!-- Copyright -->
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
