<!DOCTYPE html>
<html>
    <head>
         <title>Gallery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/gallery.css" rel="stylesheet" type="text/css"/>
     </head>
    <body>
        <div>
      <div class="container-fluid bg" >
  <div class="page-header">  
      <h1 style="text-align: center; color: black"><b>STREET CHAT CAFE</b></h1> 
      <h4 style="text-align: center; color:black; font-family: verdana"><i>Good Food,Good Mood..</i></h4>
  </div>         
 
  <div>
    <nav class="navbar navbar-inverse navbar-fixed" style="color: #FAF7F7">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-family: Comic Sans MS">STREET CHAT CAFE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact US</a></li>
      <li class="active"><a href="/gallery">Gallery</a></li>
      <li><a href="/menu">Menu Card</a></li>
    </ul>
  </div>
</nav>
  </div>
     
          <div class="container">
              <div class="row">
                  <div class="col-md-6">   
                    <img src="images/g1.jpg" alt="gallery"/>
                  </div>
                  <div class="col-md-6">   
                    <img src="images/g2.jpg" alt="gallery"/>
                  </div>
              </div> 
          </div>
          
          <hr class="style1"> 
          <h1 align='center' style="color:whitesmoke; font-family:Segoe Script">Let's Take a Look to Our Restaurant.....! !</h1>
          <hr class="style1">
          
 <div class="container">
     <h2 style="color:whitesmoke;  font-family:Segoe Script ">Food Gallery</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/f2.jpg" target="_blank">
          <img src="images/f2.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/f1.jpg" target="_blank">
          <img src="images/f1.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/f3.jpg" f3target="_blank">
          <img src="images/f3.jpg" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
       <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/f4.jpg" target="_blank">
          <img src="images/f4.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
      <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/f5.jpg" target="_blank">
          <img src="images/f5.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
      <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/f6.jpg" target="_blank">
          <img src="images/f6.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
 </div>
</div>

 <div class="container">
 
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a7.jpg" target="_blank">
          <img src="images/a7.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a8.jpg" target="_blank">
          <img src="images/a8.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a9.jpg" f3target="_blank">
          <img src="images/a9.jpg" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
 </div>
</div>
        
  <div class="container">
      <hr>    
      <h2 style="color:whitesmoke;  font-family:Segoe Script">AMBIENCE</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a1.jpg" target="_blank">
          <img src="images/a1.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a2.jpg" target="_blank">
          <img src="images/a2.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a3.jpg" f3target="_blank">
          <img src="images/a3.jpg" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
       <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a4.jpg" target="_blank">
          <img src="images/a4.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
      <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a5.jpg" target="_blank">
          <img src="images/a5.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
      <div class="col-md-4">
      <div class="thumbnail">
        <a href="images/a6.jpg" target="_blank">
          <img src="images/a6.jpg" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
      
      
      </div>
  </div>
        <div>
      <!-- Footer -->
<footer class="page-footer font-small unique-color-dark"  style="margin-top: 20px; background-color:black; color:white;">

    <div style="background-color: black;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">


          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">STREET CHAT CAFE</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Street Chat Cafe is a restaurant chain in the beautiful city of Pune.
             We provide hundreds of options of mouth watering dishes to fulfill your hunger and satisfy the food lover within you.</p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">SUPPORT US</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">FACEBOOK</a>
          </p>
          <p>
            <a href="#!">INSTAGRAM</a>
          </p>
          <p>
            <a href="#!">TWITTER</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Pune Bangalore Highway,
                                            Opp Balewadi Stadium,
                                            Near Mitcon College,
                                            Balewadi,
                                            Pune-411045.</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> streetchatcafe@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>Contact No: 9167914392</p>

        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">OWNER</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>SATYAWAN BANDEKAAR</p>
          <p>
                        <a href="Admin.jsp">ADMIN</a>
          <span class="glyphicon glyphicon-user"></span>
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> streetchatcafe.com</a>
    </div>
    <!-- Copyright -->

  </footer>         
</div>
          

      </div>
        </div>
    </body>
</html>  