
<!DOCTYPE html>
<html>
    <head>
         <title>Menu Card</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <style>
            .jumbotron {
    margin-bottom: 0px;
    background-image: url(images/j1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.page-footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
}
        </style>
    </head>
      <body>
        <div>
      <div class="container-fluid bg" >
  <div class="page-header">  
      <h1 style="text-align: center; color: white"><b>STREET CHAT CAFE</b></h1> 
      <h4 style="text-align: center; color:white; font-family: verdana"><i>Good Food,Good Mood..</i></h4>
  </div>         
 
  <div>
    <nav class="navbar navbar-inverse navbar-fixed" style="color: #FAF7F7">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-family: Comic Sans MS">STREET CHAT CAFE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact US</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li class="active"><a href="/menu">Menu Card</a></li>
    </ul>
  </div>
</nav>
  </div>
          
          <div class="container">
              <div class="jumbotron">
                  <h1>Menu Card...! !</h1>
              </div>
          </div> 
          
 <div class="container">  
     <h2 style="color:whitesmoke;font-family: Segoe Script;">Menu</h2>
  <hr class="style1">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="images/menu1.jpg" target="_blank">
          <img src="images/menu1.jpg" alt="menu1" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="images/menu2.jpg" target="_blank">
          <img src="images/menu2.jpg" alt="menu1" style="width:100%">
        </a>
      </div>
    </div>
     </div>
</div>  
 
 <div>
      <!-- Footer -->
<footer class="page-footer font-small unique-color-dark"  style="margin-top: 20px;">

    <div style="background-color: #6351ce;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">


          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">STREET CHAT CAFE</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Street Chat Cafe is a restaurant chain in the beautiful city of Pune.
             We provide hundreds of options of mouth watering dishes to fulfill your hunger and satisfy the food lover within you.</p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">SUPPORT US</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">FACEBOOK</a>
          </p>
          <p>
            <a href="#!">INSTAGRAM</a>
          </p>
          <p>
            <a href="#!">TWITTER</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Pune Bangalore Highway,
                                            Opp Balewadi Stadium,
                                            Near Mitcon College,
                                            Balewadi,
                                            Pune-411045.</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> streetchatcafe@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>Contact No: 9167914392</p>

        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">OWNER</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>SATYAWAN BANDEKAAR</p>
          <p>
                        <a href="Admin.jsp">ADMIN</a>
          <span class="glyphicon glyphicon-user"></span>
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> streetchatcafe.com</a>
    </div>
    <!-- Copyright -->

  </footer>         
</div>
  
      </div>
        </div>
    </body>
</html> 
          