<!DOCTYPE html>
<html>
  <head>
    <title>Terms & Conditions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/terms.css" rel="stylesheet" type="text/css" />
    <style>
      .jumbotron {
        background-color: #1f2121;
      }

      .page-footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="container-fluid bg">
        <div class="page-header">
          <h1 style="text-align: center; color: black">
            <b>STREET CHAT CAFE</b>
          </h1>
          <h4 style="text-align: center; color:black; font-family: verdana">
            <i>Good Food,Good Mood..</i>
          </h4>
        </div>

        <div>
          <nav
            class="navbar navbar-inverse navbar-fixed"
            style="color: #FAF7F7"
          >
            <div class="container-fluid">
              <div class="navbar-header">
                <a
                  class="navbar-brand"
                  href="#"
                  style="font-family: Comic Sans MS"
                  >STREET CHAT CAFE</a
                >
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact US</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/menu">Menu Card</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="container">
          <div class="jumbotron">
            <h1 align="center" style="color:white">TERMS & CONDITIONS</h1>
          </div>
        </div>

        <div class="container">
          <h4 style="color:#b50909;"><b>1.APPLICABILITY:</b></h4>
          <p>
            1.1 The General Terms and Conditions below apply to all offers and
            transactions of Street Chat Cafe. Prices are subject to change.
          </p>
          <p>
            1.2 By accepting an offer or making an order, the consumer expressly
            accepts the applicability of these General Terms and Conditions.
          </p>
          <p>
            1.3 Deviations from that stipulated in these Terms and Conditions
            are only valid when they are confirmed in writing by the management.
          </p>
          <p>
            1.4 All rights and entitlements stipulated for Street Chat Cafe in
            these General Terms and Conditions and any further agreements will
            also apply for intermediaries and other third parties deployed by
            Street Chat Cafe.
          </p>
        </div>

        <div class="container">
          <h4 style="color:#b50909;"><b>2.QUALITY:</b></h4>
          <P
            >The restaurant guarantees that all the products offered meet the
            standards of the there are any complaints the management needs to be
            informed immediately. Appropriate actions will be taken as soon as
            possible.</P
          >
        </div>

        <div class="container">
          <h4 style="color:#b50909;"><b>3.PRICES:</b></h4>
          <p>
            3.1 All offers made by Street Chat Cafe are without obligation and
            Street Chat Cafe expressly reserves the right to change the prices,
            in particular if this is necessary as a result of statutory or other
            regulations.
          </p>
          <p>3.2 All prices are indicated in Rupees, including VAT.</p>
          <p>
            3.3 In certain cases, promotional prices apply. These prices are
            valid only during a specific period as long as stocks last. No
            entitlement to these prices may be invoked before or after the
            specific period.
          </p>
          <p>
            3.4 Street Chat Cafe cannot be held to any price indications that
            are clearly incorrect, for example as a result of obvious
            typesetting or printing errors. No rights may be derived from
            incorrect price information.
          </p>
        </div>

        <div class="container">
          <h4 style="color:#b50909;"><b>4.CANCELATION:</b></h4>
          <P
            >4.1 Street Chat Cafe is entitled to cancel or change the date of an
            event. Should this happen, Street Chat Cafe will attempt to provide
            a suitable solution. If an event is cancelled or postponed, Street
            Chat Cafe will do its utmost to inform you as soon as possible.
            However, Street Chat Cafe cannot guarantee it is possible to inform
            you timely of any change or cancellation of an event or be held
            responsible for refunds,compensations or for any resulting costs you
            may incur, for example for travel, accommodation and/or any other
            related goods or service.</P
          >
          <p>
            4.2 Before confirming your reservation, always check carefully that
            you have reserved the correct (number of) persons. Wrongfully
            ordered (numbers of) persons are not refundable.
          </p>
          <p>
            4.3. All purchases are final. The dinner cruise tickets bought here
            cannot be returned for any refunds whatsoever; group bookings paid
            for on the website likewise cannot be cancelled by the purchaser and
            refunds claimed for any reason whatsoever.
          </p>
        </div>

        <div class="container">
          <h4 style="color:#b50909;"><b>5.PAYMENTS:</b></h4>
          <P>5.1 All prices are including VAT.</P>
          <p>
            5.2 Methods of payment we accept: Cash, Rupay, Visa, Mastercard .
          </p>
          <p>
            5.3 You will not receive confirmation of your definitive booking
            until your payment has been approved.
          </p>
        </div>

        <div class="container">
          <h4 style="color:#b50909;"><b>6.OTHER PROVISIONS:</b></h4>
          <p>
            6.1 If one or more of the provisions in these Terms and Conditions
            or any other agreement with Street Chat Cafe are in conflict with
            any applicable legal regulation, the provision in question will
            lapse and be replaced by a new comparable stipulation admissible by
            law to be determined by Street Chat Cafe.
          </p>
          <p>
            6.2 The law of the India applies to all agreements entered into with
            or concluded by Street Chat Cafe. Any disputes arising directly or
            indirectly from these agreements will be exclusively settled by the
            Court of Pune.
          </p>
        </div>

        <div>
          <!-- Footer -->
          <footer
            class="page-footer font-small unique-color-dark"
            style="margin-top: 20px;"
          >
            <div style="background-color: #6351ce;">
              <div class="container">
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!-- Facebook -->
                    <a class="fb-ic">
                      <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                      <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                      <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                      <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                      <i class="fab fa-instagram white-text"> </i>
                    </a>
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row-->
              </div>
            </div>

            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase font-weight-bold">
                    STREET CHAT CAFE
                  </h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p>
                    Street Chat Cafe is a restaurant chain in the beautiful city
                    of Pune. We provide hundreds of options of mouth watering
                    dishes to fulfill your hunger and satisfy the food lover
                    within you.
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">SUPPORT US</h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p>
                    <a href="#!">FACEBOOK</a>
                  </p>
                  <p>
                    <a href="#!">INSTAGRAM</a>
                  </p>
                  <p>
                    <a href="#!">TWITTER</a>
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">Contact</h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p>
                    <i class="fas fa-home mr-3"></i>Pune Bangalore Highway, Opp
                    Balewadi Stadium, Near Mitcon College, Balewadi,
                    Pune-411045.
                  </p>
                  <p>
                    <i class="fas fa-envelope mr-3"></i>
                    streetchatcafe@gmail.com
                  </p>
                  <p><i class="fas fa-phone mr-3"></i>Contact No: 9167914392</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase font-weight-bold">OWNER</h6>
                  <hr
                    class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;"
                  />
                  <p><i class="fas fa-home mr-3"></i>SATYAWAN BANDEKAAR</p>
                  <p>
                    <a href="Admin.jsp">ADMIN</a>
                    <span class="glyphicon glyphicon-user"></span>
                  </p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
              © 2019 copyright:
              <a href="https://mdbootstrap.com/education/bootstrap/">
                streetchatcafe.com</a
              >
            </div>
            <!-- Copyright -->
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
