.bg {
  background: url("../images/bg5.jpg");
  background-size: cover;
}

hr.style1 {
  border-top: 10px double;
  color: white;
}

hr.style2 {
  border-top: 5px solid;
  color: white;
}
a {
  text-decoration: none;
  text-decoration-line: none;
}
